.div-principal {
  background-color: #ffc107;
  height: 100vh;
}
p {
  text-align: center;
  font-size: 25px;
  color: black;
}
.div-button {
 text-align: wrapping;
}


table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
